doctype html
html
  head
    meta(charset='utf-8')
    title Welcome
    link(rel='stylesheet', type="text/css", href='stylesheets/welcome.css')
  body
    main
      #doublenb-logo
        img(src='images/logo.png', alt='DoubleNB')
      #proceed-button.button
        a(href='/') Proceed
    footer
      #site-info
        p#doublenb-2016 DoubleNB 2016
        p#powered-by Powered by Nipi